.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}

.text {
  font-size: 1.1rem;
}

.iconBarRight {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  width: fit-content;
}

.iconBarLeft {
  position: absolute;
  top: 5px;
  left: 10px;

  display: flex;
  flex-direction: row;
  gap: 5px;

  width: fit-content;

  align-items: center;
}

.archLogo {
  cursor: pointer;
  height: 45px;
  border-radius: 20px;

  background-color: white;
}

.uscLogo {
  cursor: pointer;
  height: 55px;
  border-radius: 20px;

  background-color: white;
}
