.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}

.text {
  font-size: 1.1rem;
}

.iconBar {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;

  width: fit-content;
}
