.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #dcdfe3;

  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;

  font-size: 1rem;
  align-items: center;
}

.email {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
