.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #dcdfe3;

  padding: 10px;
  padding-bottom: 25px;
  border-radius: 10px;
}

.bar {
  width: 100%;
}

.label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.tag {
  position: sticky;
  top: 97vh;
}
