.filtersContainer {
  position: sticky;
  top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 25px;

  background-color: lightblue;

  padding: 10px;
  border-radius: 10px;
}

.bar {
  width: 20vw;
}
