.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.infoBox {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  color: darkred;
}
