.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 45px;

  width: 100%;

  border-radius: 10px;

  margin: 20px;
}

.title {
  text-align: center;
  align-self: center;

  width: 85%;
}
