.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 400px;

  padding: 15px;

  outline: 2px solid black;
  border-radius: 10px;

  overflow-wrap: anywhere;
  overflow-y: scroll;
}
