.rowContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  padding: 15px 45px;
  margin: 10px;

  overflow: hidden;
}

.title {
  text-align: left;
  font-weight: bold;
  user-select: none;
}

.spacer {
  height: 15px;
}

.iconRow {
  position: absolute;
  right: 10px;
  top: 18px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.checkbox {
  position: absolute;
  left: 10px;
  top: 18px;

  cursor: pointer;
}

.icon {
  cursor: pointer;
}
