.rowContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  border-radius: 10px;

  padding: 15px 30px;
  margin: 10px;
}

.title {
  text-align: left;
}

.toggle {
  position: absolute;
  right: 10px;
}
