.rowContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  padding: 15px 70px 15px 45px;
  margin: 10px;

  overflow: hidden;
}

.title {
  text-align: left;
  font-weight: bold;
  user-select: none;
}

.checkbox {
  position: absolute;
  left: 10px;
  top: 18px;

  cursor: pointer;
}

.spacer {
  height: 15px;
}

.iconRow {
  position: absolute;
  right: 10px;
  top: 18px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.expandedRowContent {
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  column-gap: 80px;
}

.rightContent {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 25px;
}

.detailElig {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  gap: 20px;
}

.container {
  display: flex;

  flex-direction: column;
  gap: 25px;
}
