.mainContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.leftPanel {
  margin-top: 50px;
  justify-content: space-between;

  position: sticky;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  top: 80px;

  gap: 15px;

  width: 22vw;
}

.tag {
  position: absolute;
  bottom: -80px;
}
