.mainContainer {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  background-color: #9fb9c5;

  gap: 15px;
}

.leftPanel {
  margin-top: 50px;
  justify-content: space-between;

  position: sticky;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  top: 80px;

  gap: 15px;

  width: 22vw;
  min-width: 350px;
  flex-shrink: 0;
}

.tag {
  position: absolute;
  bottom: -80px;
}

.results {
  flex: 1;
  min-width: 0;
}

.menuButton {
  margin: 10px;
  padding: 10px 25px;
  font-size: 14px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  width: fit-content;
}

@media (max-width: 1500px) {
  .leftPanel {
    width: 100%;
    position: relative;
    top: 0;
    min-width: unset;
  }

  .mainContainer {
    flex-direction: column;
  }
}
