.resultsContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 75vw;

  margin-bottom: 30px;
  margin-top: 15px;
}

.table {
  width: 100%;
}

.count {
  position: relative;
  text-align: center;
  width: 100%;
}

.checkBox {
  position: absolute;

  display: flex;
  flex-direction: row;

  gap: 10px;

  left: 18px;

  z-index: 1;
}

.selectedOptions {
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.tableHeader {
  position: sticky;
  top: 70px;
  width: 100%;
  display: flex;

  padding-bottom: 15px;

  background-color: white;
  z-index: 100;

  justify-content: center;
}
