.resultsContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 80vw;

  margin-bottom: 200px;
}

.table {
  width: 100%;
}

.message {
  text-align: center;
  margin: 15px;
}
