.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #dcdfe3;

  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;

  font-size: 1rem;
}

.bar {
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.helpIcon {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  font-size: 1.8rem;
  color: black;
  transition: color 0.2s;
}

.overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start; /* push items to the top */
  justify-content: flex-start; /* push items to the left */
  padding: 6% 24%; /* control spacing from edges */
  z-index: 999999 !important;
}

.infoBox {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  gap: 20px;
  z-index: 9999;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  color: darkred;
}

.text {
  width: 95%;
}
