.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #dcdfe3;

  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;

  font-size: 1rem;
}

.bar {
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
