.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  width: 98%;
  gap: 20px;
}

.mainBox {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  overflow-y: auto;

  gap: 20px;
}

.toggle {
  cursor: pointer;
  position: sticky;

  top: 5px;

  color: darkred;
}
