name: gsheet.action test
on: push

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Get updated data
        id: 'update_data'
        uses: jroehl/gsheet.action@release
        with:
          spreadsheetId: 1Bpe3AxJnxzBAjRTzWEMYaja1BqaMD1a5EiymTQ_EoHw
          commands: | 
            [
              { "command": "getData", "args": { "worksheetTitle": "LASRP Data", "range": "A2:R" } }
            ]
        env:
          GSHEET_CLIENT_EMAIL: ${{ secrets.GSHEET_CLIENT_EMAIL }}
          GSHEET_PRIVATE_KEY: ${{ secrets.GSHEET_PRIVATE_KEY }}
        
      - name: Save results to file
        run: | 
          printf '%s' "${{ steps.update_data.outputs.results }}" > results.json
      - name: Upload results.json artifact
        uses: actions/upload-artifact@v4
        with:
          name: gsheet-results
          path: results.json
