name: gsheet.action test
on: push

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Get updated data
        id: "update_data"
        uses: jroehl/gsheet.action@release
        with:
          spreadsheetId: 1Bpe3AxJnxzBAjRTzWEMYaja1BqaMD1a5EiymTQ_EoHw
          commands: |
            [
              { "command": "getData", "args": { "worksheetTitle": "LASRP Data", "range": "A2:R" } }
            ]
        env:
          GSHEET_CLIENT_EMAIL: ${{ secrets.GSHEET_CLIENT_EMAIL }}
          GSHEET_PRIVATE_KEY: ${{ secrets.GSHEET_PRIVATE_KEY }}

      - name: Save results to file
        run: |
          cat << 'EOF' > results.json
          ${{ steps.update_data.outputs.results }}
          EOF

      - name: Run python script to format JSON
        run: python scripts/formatDatabase.py results.json public/data/data.json

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Sync database changes
        run: |
          git add public/data/data.json
          git commit -m "Automatic database update from Google Sheets" || echo "No changes to commit"
          git push

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
